    html, body{
		font-family: 'Helvetica';
	}
	.mainLayout {
		margin: 0 0 2em 0;
		list-style-type: none;
		padding: 0;
		width: 100%;
		text-align: center;
    }
	.alignRight{
		width: 40%;
		margin-left: 50px;
		float: left;
	}
	
	.alignLeft{
		float: left;
		width: 50%;
	}
	
	.buttonArea{
		padding: 8px;
	}
   